/* #3B4F66 azul logo
#A6D973 verde logo
#2B6F75 azul medio
#54A6DA azul claro */

#seção1 {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  width: 100vw;
   height: 15vh;
}

#seção1 img {
  display: inline;
  width: 90%;
  height: 90%;
 text-align: center;
}

#seção1 > div {
  border: 1px solid black;
}

#seção1 p {
  font-size: 1.5rem;
}

#seção2 {
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  column-gap: 2%;
  height: 40vh;
  padding: 2%;
}

#seção2 p {
  text-align: center;
  font-size: 1.2em;
}
#seção2 > div {
  border-radius: 20px;
  border: solid black;
  box-shadow: 4px 4px 4px #2B6F75;
  background-color: #3b4f66;
  color: #a6d973;
}
#seção2 li {
  list-style-type: none;
  padding: 0;
  padding-top: 3%;
  padding-right: 3%;
}

#seção2 ul {
  display: block;
  padding: 1%;
}

#fonte-promocoes {
    font-size: 0.9em;
    justify-self: start;
}

.container-cards {
  display: grid;
  grid-template-rows: 20% 80%;
}

#imagens-section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
