
/* #3B4F66 azul logo
#A6D973 verde logo
#2B6F75 azul medio
#54A6DA azul claro */
*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    padding: 10px;  
}
.logo{
    display: flex;
    align-items: center;
}
nav img {
    width: 25%;  
}
nav {
    background-color: #3B4F66;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - 40px);
    top: 0;
}

h1,p {
    color: rgb(80, 12, 12);
    
}

nav,ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
h1 {
    margin: 0;
    padding: 10px;
}

button {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

a:hover,
h1:hover,
button:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 700px) {

    nav,ul {
        flex-direction: column;
    }

    ul {
        text-align: center;
        margin: 0;
        height: 0;
    }

    nav {
        padding: 0;
        align-items: flex-start;
    }

    h1 {
        margin: 10px;
    }

    button {
        display: flex;
    }

    li,ul {
        width: 100%;
    }

    ul.responsivo {
        height: 260px;
    }
}